body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
}

#mainContainer {
  margin: 0;
  background: #fff;
}

#searchheader {
  background-color: #252e38;
  padding: 0;
  border-bottom: 1px solid;
  /* position: fixed; */
  /* box-shadow: 0px 0px 40px #ddd; */
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

#logo {
  color: #f2bb10;
  width: 120px;
  font-weight: bold;
  margin: 15px 20px;
  font-size: 18px;
}

#searchbox {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
  width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
}

#searchbar {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
#searchBtn {
  width: 50px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  border: 0;
  background-color: #fefefe;
}

#login {
  height: 40px;
  outline: none;
  border: 0;
  margin-left: 150px;
  border-radius: 5px;
  background-color: #f2bb10;
}
#rightMenuContainer {
  float: right;
  width: 300px;
  height: 760px;
  border: 1px dotted grey;
  display: flex;
  float: right;
  flex-direction: column;
}

.rightMenuBox {
  width: 100%;
  height: 380px;
}
.rightMenuBtn {
  /* display: flex; */
  background-color: #f2bb10;
  cursor: pointer;
  padding: 18px;
  outline: none;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  display: table-cell;
  vertical-align: middle;
}

.boxArea {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
}

.card {
  text-align: center;
  background-color: rgb(206, 190, 190);

  /* border: dotted 1px rgb(71, 70, 70); */
  display: inline-block;
}

#searchbar {
  width: 100%;
}

#mainbody {
  margin: 20px;
  width: 80%;
}
#descriptionContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto;
}
#foodImg {
  grid-area: 1 / col1-start / 2 / 2;
}

#welcome {
  margin-top: 300px;
  margin-bottom: 300px;
  font-size: 100px;
  text-align: center;
  width: 80%;
  display: inline-block;
}
